@use '../../index.scss' as *;

.landing {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -2;
    object-fit: cover;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(4, 9, 30, 0.7);
    z-index: -1;
  }

  .landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    h1, p {
      color: $linksColor;
    }

    h1 {
      font-size: 4rem;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 875px) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: 575px) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 339px) {
        font-size: 1rem;
      }
    }

    p {
      width: 50%;
      margin-top: 0.5rem;
      text-align: center;
      margin: 0.5rem auto;
      margin-bottom: 2rem;
      font-size: 14px;

      @media screen and (max-width: 959px) {
        width: 70%;
      }

      @media screen and (max-width: 575px) {
        width: 95%;
        font-size: 11px;
      }

      @media screen and (max-width: 339px) {
        font-size: 10px;
      }
    }

    a {
      @include hero-btn;
    }
  }
}