@use '../../index.scss' as *;

.courses {
  .courses-content {
    @include section;
  }

  .courses-cards {
    @include section-grid;

    .courses-card {
      background-color: #fff1f1;
      text-align: center;
      cursor: default;
      border-radius: 0.85rem;
      padding: 3rem 0.5rem;
      transition: box-shadow 0.7s, scale 0.7s;

      h3 {
        margin: 0.75rem 0;
        font-weight: 600;
      }

      p {
        color: $paragraphsColor;
        font-weight: 200;
        line-height: 1.7;
        width: 90%;
        text-align: center;
        margin: 0 auto;
      }

      &:hover {
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
        scale: 1.05;
      }
    }
  }
}

@media screen and (max-width: 431px) {
  .main-heading {
    h2 {
      font-size: 1.5rem !important;
    }
  
    p {
      font-size: 12px !important;
    }
  }
}