@use "../../index.scss" as *;

.testimonials-cards {
  @include section-grid;
  @include section;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));

  .testimonials-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    padding: 2rem 1rem;
    background-color: rgba(0, 0, 0, 0.55);
    border: 3px solid rgb(231, 231, 231);
    transition: $transitionDurationO;
    overflow: hidden;

    @media screen and (max-width: 485px) {
      flex-direction: column;
      text-align: center;

      img {
        width: 30% !important;
      }

      .user-rate i:nth-child(2):before {
        left: -1.2rem !important;
      }

      .user-rate i:nth-child(3):before {
        left: calc(1.2rem * 1) !important;
      }

      .user-rate i:nth-child(4):before {
        left: calc(1.2rem * -2) !important;
      }

      .user-rate i:nth-child(5):before {
        left: calc(1.2rem * 2) !important;
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $mainColor;
      z-index: -1;
      transform: translateX(-100%);
      transition: $transitionDurationO;
    }

    &:hover::before {
      transform: translateX(0);
    }

    &:hover {
      transform: translateY(-0.75rem);
    }

    &:hover .user-img img {
      filter: grayscale(0);
    }

    &:hover .user-opinion .user-rate i::before{
      filter: grayscale(0) !important;
    }

    .user-img {
      height: 100%;
      width: 60%;

      img {
        width: 80%;
        border-radius: 50%;
        transition: $transitionDurationO;
        filter: grayscale(1);
      }
    }

    .user-opinion {
      .content {
        p {
          color: lightgray;
          font-weight: 300;
        }

        h3 {
          font-size: 1.4rem;
          margin-top: 1rem;
          color: white;
          font-weight: 600;
        }
      }

      .user-rate {
        i {
          position: relative;
          font-size: 14px;

          &:nth-child(1):before,
          &:nth-child(2):before,
          &:nth-child(3):before,
          &:nth-child(4):before,
          &:nth-child(5):before {
            content: '\f005';
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: gold;
            transition: $transitionDurationO;
            filter: grayscale(1);
          }

          &:nth-child(2):before {
            left: 1.2rem;
          }

          &:nth-child(3):before {
            left: calc(1.2rem * 2);
          }

          &:nth-child(4):before {
            left: calc(1.2rem * 3);
          }

          &:nth-child(5):before {
            left: calc(1.2rem * 4);
          }
        }
      }
    }
  }
}