@use '../../index.scss' as *;

.campus-cards {
  @include section-grid;
  @include section;

  .campus-card {
    position: relative;
    height: 100%;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $lowAlphaMainColor;
      opacity: 0;
      transition: $transitionDurationF;
      border-radius: 2%;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 2%;
    }

    .card-title {
      position: absolute;
      left: 50%;
      top: 110%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: $transitionDurationF;

      h3 {
        color: $linksColor;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }

    &:hover .card-title {
      top: 50%;
      opacity: 1;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}