@use '../../index.scss' as *; 

.about-container {
  @include section;
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    .about-img {
      width: 70% !important;
      margin-top: 2rem;

      img {
        width: 100% !important;
      }
    }

    .about-content {
      text-align: center;
      h2 {
        width: 100% !important;
        margin: 0 auto;
      }
  
      p {
        width: 100% !important;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 445px) {
    .about-img {
      width: 100% !important;

      img {
        width: 100% !important;
      }
    }
  }

  .about-content {
    h2 {
      width: 37.5%;
      line-height: 1.7;
      font-size: 2rem;
    }

    p {
      color: $paragraphsColor;
      font-size: 0.9rem;
      width: 50%;
      line-height: 1.7;
      margin-top: 1.5rem;
    }

    a {
      @include hero-btn-secondary;
      display: inline-block;
      margin-top: 1.25rem;
    }
  }

  .about-img {
    width: 100%;
    border-radius: 0.5rem;

    img {
      width: 85%;
      border-radius: 0.5rem;

      @media screen and (max-width: 1476px) {
        width: 100%;
      }

      @media screen and (max-width: 1279px) {
        width: 115%;
      }
    }
  }
}